<extend name="Common/core"/>
    <block name="title"><title>邀请面试列表-{$sysInfo.title}</title></block>
    <!-- 导航开始 -->
    <block name="nav"><include file="Common/header"/></block>
    <!-- 导航结束 -->
    <!-- 右边主体 -->
      <!-- 左边导航开始 -->
    <block name="left">
      <div class="col-md-3" style="border-top:1px solid #ddd;">
        <div style="margin-top:10px;">
          <img src="{$path}/uploads/enterprise/photo/{$_SESSION['ITUser']['en_photo']}" alt="头像" class="img-circle center-block" width="150" height="150">
          <p class="text-muted text-center">{$_SESSION['ITUser']['en_name']}</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation"><a href="{:U('Home/Enterprise/index')}">个人中心</a></li>
          <li role="presentation"><a href="{:U('Home/EnApply/listApply')}">招聘管理</a></li>
          <li role="presentation" class="active"><a href="{:U('Home/DealResume/index')}">简历管理</a></li>
          <li role="presentation"><a href="{:U('Home/Enterprise/setEnInfo')}">企业管理</a></li>
          <li role="presentation"><a href="{:U('Home/Enterprise/updatePw')}">修改密码</a></li>
        </ul>
      </div>
    </block>
      <!-- 左边导航结束 -->
      <!-- 右边主体 -->
    <block name="main">
      <div class="col-md-9 resume-border">
        <div class="online-resume">
          <h3>邀请求职者面试管理</h3>
        </div>
        <!-- 简历右边导航选项卡 -->
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="{:U('Home/DealResume/index')}">简历列表</a></li>
          <li role="presentation" class="active"><a href="{:U('Home/DealResume/invite')}">邀请面试列表</a></li>
        </ul>
        <!-- 简历右边导航选项卡结束 -->
        <!-- 我的信息 -->
        <div class="alert alert-info" role="alert" id="umessage">
          <span>邀请面试的求职者简历列表</span>
        </div>
        <!-- 基本信息 -->
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr class="success">
                  <th>受邀人</th>
                  <th>性别</th>
                  <th>年龄</th>
                  <th>学历</th>
                  <th>工作状态</th>
                  <th>邀请时间</th>
                  <th>面试状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <span><a href="{:U('Home/DealResume/myResume','id='.$vo['uid'])}">小明</a></span>
                  </td>
                  <td>
                    <span>男</span>
                  </td>
                  <td>
                    <span>10</span>
                  </td>
                  <td>
                    <span>研究生</span>
                  </td>
                  <td>
                    <span>非在职</span>
                  </td>
                  <td>
                    <span>2015-02-04 09:12:34</span>
                  </td>
                  <td>
                    <span>未查看</span>
                  </td>
                  <td>
                    <span><button type="button" class="btn btn-danger btn-xs">取消邀请</button></span>
                    <a href="" title="删除这条应聘简历"><span class="glyphicon glyphicon-trash" style="margin-left:10px;"></span></a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span><a href="myResume.html">小明</a></span>
                  </td>
                  <td>
                    <span>男</span>
                  </td>
                  <td>
                    <span>10</span>
                  </td>
                  <td>
                    <span>研究生</span>
                  </td>
                  <td>
                    <span>非在职</span>
                  </td>
                  <td>
                    <span>2015-02-04 09:12:34</span>
                  </td>
                  <td>
                    <span>已接受</span>
                  </td>
                  <td>
                    <span><button type="button" class="btn btn-info btn-xs">面试成功</button></span>
                    <span><button type="button" class="btn btn-danger btn-xs">暂不合格</button></span>
                    <a href="" title="删除这条应聘简历"><span class="glyphicon glyphicon-trash" style="margin-left:10px;"></span></a>
                  </td>
                </tr>
              </tbody>
            </table> 
          </div>
        </div>
        <!-- 基本信息面板结束 -->
      </div>
    </block>
      <!-- 底部版权 -->
    <block name="footer">
      <include file="Common/footer"/>
    </block>
      <!-- 底部版权结束 -->
   