<div class="pageContent">
	<form method="post" action="__URL__/updateTitle/systemInfo/webTitle/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);">
		<div class="pageFormContent" layoutH="60">
			<dl>
				<volist name="title" id="vo">
				<dt>网站头部标题：</dt>
					<dd>
						<input type="text" class="required" value="{$vo.title}"  style="width:100%" name="title"/>
						<input type="hidden" value="{$vo.id}" name="id" />
					</dd>
				</dl>
			</volist>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">设置</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

