<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/listHot/callbackType/closeCurrent"  class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this,dialogAjaxDone);"
		onsubmit="return validateCallback(this,dialogAjaxDone);">
		<div class="pageFormContent" layoutH="58">
			<dl>
				<dt>热点名：</dt>
				<dd><input type="text" class="required" name="hot_name" /></dd>
			</dl>
			<dl>
				<dt>热点类型：</dt>
				<dd>
					<select name="type">
						<option value="0">职位</option>
						<option value="1">企业</option>
						<option value="2">简历</option>
					</select>
				</dd>
			</dl>
			<dl>
				<dt>热点等级：</dt>
				<dd>
					<select name="hot_level">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
					</select>
				</dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">添加</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

