<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/listHot/callbackType/closeCurrent" 
		enctype="multipart/form-data" class="pageForm required-validate" 
		onsubmit="return iframeCallback(this,dialogAjaxDone);">
		<input type="hidden" name="id" value="{$vo.id}">
		<div class="pageFormContent" layoutH="58">
			<dl>
				<dt>标题名称：</dt>
				<dd><input type="text" class="required" name="hot_name" value="{$vo.hot_name}"/></dd>
			</dl>
			<dl>
				<dt>热点类型：</dt>
				<dd>
					<select name="type">
						<option value="0" <if condition="$vo.type eq 0">selected='selected'</if>>职位</option>
						<option value="1" <if condition="$vo.type eq 1">selected='selected'</if>>企业</option>
						<option value="2" <if condition="$vo.type eq 2">selected='selected'</if>>简历</option>
					</select>
				</dd>
			</dl>
			<dl>
				<dt>热点等级：</dt>
				<dd>
					<select name="hot_level">
						<option value="0" <if condition="$vo.hot_level eq 0">selected='selected'</if>>0</option>
						<option value="1" <if condition="$vo.hot_level eq 1">selected='selected'</if>>1</option>
						<option value="2" <if condition="$vo.hot_level eq 2">selected='selected'</if>>2</option>
					</select>
				</dd>
			</dl>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">更改</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

