<extend name="Common:login" />
  <block name="title">
    <title>企业信息设置-{$sysInfo.title}</title>
  </block>
  <block name="js">
    <script type="text/javascript">
      //获取select下拉框并添加选中事件
      $(function(){
        //加载一级城市信息
        $.ajax({
          type:"POST",             //发送方式
          url :"__URL__/doload",  //请求地址
          data:"pid=0",           //请求数据
          async:true,             //是否异步
          dataType:"json",        //响应数据类型
          success:function(data){ //成功回调函数
            //遍历结果，拼装下拉项
            var str = "";
            for(var i=0;i<data.length;i++){
                str +="<option cid='"+data[i].id+"' value='"+data[i].name+"'>";
                str +=data[i].name;
                str +="</option>";
            }
            //添加下拉项中
            $("select[name='en_province']").append(str);
          },
        });
        // 省变化的时候自动加载市级城市
        $("select[name='en_province']").change(function(){
          var ob = this;
          var pid=$("#province option:selected").attr('cid');
          var opt = "<option>请选择</option>";
          $("#city").empty();
          $("#city").append(opt);
          var opt = "<option>请选择</option>";
          $("#county").empty();
          $("#county").append(opt);
          $.ajax({
            type:"POST",             //发送方式
            url :"__URL__/doload",  //请求地址
            data:"pid="+pid,      //请求数据
            async:true,             //是否异步
            dataType:"json",        //响应数据类型
            success:function(data){ //成功回调函数
              if(data==null){
                  return;
              }
              //遍历结果，拼装下拉项
              var str = "";
              for(var i=0;i<data.length;i++){
                str +="<option cid='"+data[i].id+"' value='"+data[i].name+"'>";
                str +=data[i].name;
                str +="</option>";
              }
              //添加下拉项中
              $("select[name='en_city']").append(str);
            },
          });
        });
        // 市变化的时候自动加载县级城市
        $("select[name='en_city']").change(function(){
          var ob = this;
          var cid=$("#city option:selected").attr('cid');
          // alert(cid);
          // die();
          $("#county").empty();
          var op = "<option>请选择</option>";
          $("#county").append(op);
          $.ajax({
            type:"POST",             //发送方式
            url :"__URL__/doload",  //请求地址
            data:"pid="+cid,   //请求数据
            async:true,             //是否异步
            dataType:"json",        //响应数据类型
            success:function(data){ //成功回调函数
              if(data==null){
                  return;
              }
              //遍历结果，拼装下拉项
              var str = "";
              for(var i=0;i<data.length;i++){
                str +="<option cid='"+data[i].id+"' value='"+data[i].name+"'>";
                str +=data[i].name;
                str +="</option>";
              }
              //添加下拉项中
              $("select[name='en_county']").append(str);
            },
          });
        });
      });
    </script>
  </block>
  <!-- 导入导航 -->
  <block name="nav">
    <include file="Common:header" />
  </block>
  <!-- 导航结束 -->
  <!-- 右边主体 -->
  <block name="main">
    <div class="container panel panel-default"  style="margin-top:10px;">
      <!-- 右边主体 -->
      <div class="col-md-offset-2 col-md-8" >
        <div class="online-resume">
          <h3>最后一步：为了方便您发布招聘信息，请您完善企业信息</h3>
        </div>
        <!-- 招聘职位基本信息 -->
        <form class="form-horizontal" action="{:U('Home/Register/setEnInfo')}" method="post" enctype="multipart/form-data">
          <div class="alert alert-info col-md-12" role="alert" id="umessage">基本信息</div>
          <div class="col-md-12">
            <div class=" col-md-offset-1 col-md-10">
              <div class="form-group">
                <label for="enNa" class="col-sm-2 control-label">*企业名称</label>
                <div class="col-sm-10">
                  <input type="text" name="en_name" value="" class="form-control" id="enNa" placeholder="请输入您的企业名称">
                </div>
              </div>
              <div class="form-group">
                <label for="enNat" class="col-sm-2 control-label">*企业性质</label>
                <div class="col-sm-4">
                  <select class="form-control" name="en_nature" id="enNat">
                    <option value="">请选择企业规模</option>
                    <option value="外商独资">外商独资</option>
                    <option value="中外合营">中外合营</option>
                    <option value="民营企业">民营企业</option>
                    <option value="国有企业">国有企业</option>
                    <option value="国内上市公司">国内上市公司</option>
                    <option value="政府机关">政府机关</option>
                    <option value="事业单位">事业单位</option>
                    <option value="公益组织">公益组织</option>
                    <option value="其他">其他</option>
                  </select>
                </div>
                <label for="enSc" class="col-sm-2 control-label">*企业规模</label>
                <div class="col-sm-4">
                  <select class="form-control" name="en_scale" id="enSc">
                    <option value="">请选择企业规模</option>
                    <option value="10人以下">10人以下</option>
                    <option value="10-50人">10-50人</option>
                    <option value="50-100人">50-100人</option>
                    <option value="100-300人">100-300人</option>
                    <option value="300人以上">300人以上</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="enAd" class="col-sm-2 control-label">*企业地址</label>
                <div class="col-sm-10">
                  <div class="col-md-4">
                    <select class="form-control" name="en_province" id="province">
                      <option value="">请选择省份</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" name="en_city" id="city">
                      <option value="">请选择</option>
                    </select>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control" name="en_county" id="county">
                      <option value="">请选择</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="enDet" class="col-sm-2 control-label">*详细地址</label>
                <div class="col-sm-10">
                  <input type="text" name="en_address_details" value="" class="form-control" id="enDet" placeholder="请输入企业详细地址">
                </div>
              </div>
              <div class="form-group">
                <label for="enPh" class="col-sm-2 control-label">*企业图标</label>
                <div class="col-sm-10 form-group">
                  <label for="uploadPhoto">
                    <input type="file" name="en_photo" value="" id="uploadPhoto" style="margin-top:5px;" class="col-md-7">
                    <span class="col-md-5" style="color:#777777;margin-top:5px;">请上传230*80的图片</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">*企业亮点</label>
                <div class="col-sm-10">
                  <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    选择企业亮点
                  </button>
                  <div class="collapse" id="collapseExample">
                    <div class="well">
                      <volist name="enAdvantage" id="vo">
                        <label class="checkbox-inline" for="{$vo.id}" style="margin-left:10px;">
                          <input type="checkbox" name="en_advantages[]" id="{$vo.id}" value="{$vo.id}">{$vo.name}
                        </label>
                      </volist>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 基本信息结束 -->
          <!-- 企业介绍 -->
          <div class="alert alert-info col-md-12" role="alert" id="umessage">企业介绍</div>
          <div class="col-md-12">
            <div class="col-md-offset-1 col-md-10">
              <div class="form-group">
                <textarea class="form-control" rows="7" style="resize:none;" name="en_introduction" id="enIntroduction" placeholder="请用300字以上简单的介绍您的企业信息"></textarea>
              </div>
            </div>
          </div>
          <!-- 企业介绍结束 -->
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block" style="margin-bottom:10px;">保存</button>
          </div>
        </form>
      </div>
    </div>
  </block>
  <!-- 底部版权 -->
  <block name="footer">
    <include file="Common:footer" />
  </block>
  <!-- 底部版权结束 -->