<!DOCTYPE html>
{/* 公共资源的目录 */}
<assign name="path" value="__PUBLIC__/Home" />
<html>
	<head>
		<meta charset="utf-8">
		<title>网站正在维护中，暂时无法访问</title>
		<link rel="shortcut icon" href="{$path}/images/favicon.ico" type="image/x-icon" />
		<link href="{$path}/css/maintain.css" rel="stylesheet">
	</head>
	<body>
		<div class="box">
			<div class="title">亲爱的<b>IT招聘网</b>用户：</div>
			<div class="text">
				为了能让您访问更快更稳定，同时为您提供更高品质的服务，我们正在进行网站维护。因此，目前网站的部分功能暂时不能使用，请您稍后再回来。给您造成了不便，敬请谅解。
			</div>
		</div>
	</body>
</html>



