<form id="pagerForm" action="__URL__/index" method="post">
    <input type="hidden" name="pageNum" value="{$currentPage|default='1'}" />
    <input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
    <input type="hidden" name="_order" value="{$Think.request._order}"/>
    <input type="hidden" name="_sort" value="{$Think.request._sort}"/>
</form>
<div class="pageHeader">
    <form rel="pagerForm" onsubmit="return navTabSearch(this);" method="post">
        <input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        请输入企业名进行搜索：<input type="text" name="name" value="{$Think.post.name}" /> 
                    </td>
                    <td>
                        <div class="buttonActive"><div class="buttonContent"><button type="submit">搜索</button></div></div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="delete" href="__URL__/del/id/{item_id}/navTabId/CollectionList" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
            <!-- <li><a class="edit" href="__URL__/edit/id/{item_id}" target="dialog" title="修改企业用户信息"><span>查看详情</span></a></li> -->
            <li><a class="icon"  href="javascript:navTabPageBreak()"><span>刷新</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="110" nowrapTD="false">
        <thead>
            <tr>
                <th align="center" width="50">id</th>
                <th>收藏者</th>
                <th>职位名称</th>
                <th>所属公司</th>
                <th>收藏时间</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="vo">
                <tr target="item_id" rel="{$vo.id}">
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.job_name}</td>
                    <td>{$vo.en_name}</td>
                    <td>{$vo.collection_time|date="Y-m-d H:i:s",###}</td>
                </tr>
            </volist>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({$Think.config.TMPL_L_DELIM}numPerPage:this.value{$Think.config.TMPL_R_DELIM})">
                <option value="5" <if condition="$numPerPage eq 5">selected</if>>5</option>
                <option value="10" <if condition="$numPerPage eq 10">selected</if>>10</option>
                <option value="15" <if condition="$numPerPage eq 15">selected</if>>15</option>
                <option value="20" <if condition="$numPerPage eq 20">selected</if>>20</option>
                <option value="25" <if condition="$numPerPage eq 25">selected</if>>25</option>
                <option value="30" <if condition="$numPerPage eq 30">selected</if>>30</option>
            </select>
            <span>共{$totalCount}条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="{$pageNumShown}" currentPage="{$currentPage}"></div>

    </div>
</div>
